# Cointab Software Private Limited

Data Analyst - Assignment

In [1]:
#Importing libraries

import pandas as pd 
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Importing datasets
order_report=pd.read_excel("D:/GUVI/placement/assignmanet/Cointab Data Analyst - Challenge/Company X - Order Report.xlsx")
pincode_zone=pd.read_excel("D:/GUVI/placement/assignmanet/Cointab Data Analyst - Challenge/Company X - Pincode Zones.xlsx")
SKU_Master=pd.read_excel("D:/GUVI/placement/assignmanet/Cointab Data Analyst - Challenge/Company X - SKU Master.xlsx")
Courier_company_invoice=pd.read_excel("D:/GUVI/placement/assignmanet/Cointab Data Analyst - Challenge/Courier Company - Invoice.xlsx")
Courier_company_Rates=pd.read_excel("D:/GUVI/placement/assignmanet/Cointab Data Analyst - Challenge/Courier Company - Rates.xlsx")
expected_result_summary=pd.read_excel("D:/GUVI/placement/assignmanet/Cointab Data Analyst - Challenge/Expected_Result.xlsx")
expected_result_calculation=pd.read_excel("D:/GUVI/placement/assignmanet/Cointab Data Analyst - Challenge/Expected_Result.xlsx",sheet_name=1)

# order_report

In [3]:
#checking data sets for further process like duplicates , null values , data types.

order_report.isnull().sum()

ExternOrderNo    0
SKU              0
Order Qty        0
dtype: int64

In [4]:
order_report.duplicated().sum() #Checking duplicates

2

In [5]:
order_report.drop_duplicates(inplace=True) #drop duplicates

In [6]:
order_report.duplicated().sum()

0

In [7]:
order_report.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 398 entries, 0 to 399
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ExternOrderNo  398 non-null    int64
 1   SKU            398 non-null    object
 2   Order Qty      398 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 12.4+ KB

In [8]:
order_report.shape

(398, 3)

In [9]:
#Changing column name as same value

order_report=order_report.rename(columns={'ExternOrderNo':'Order ID'})

In [10]:
order_report

       Order ID            SKU  Order Qty
0    2001827036  8904223818706        1.0
1    2001827036  8904223819093        1.0
2    2001827036  8904223819109        1.0
3    2001827036  8904223818430        1.0
4    2001827036  8904223819277        1.0
..          ...            ...        ...
395  2001806229  8904223818942        1.0
396  2001806229  8904223818850        1.0
397  2001806226  8904223818850        2.0
398  2001806210  8904223816214        1.0
399  2001806210  8904223818874        1.0

[398 rows x 3 columns]

# pincode_zone

In [11]:
pincode_zone.isnull().sum()

Warehouse Pincode    0
Customer Pincode     0
Zone                 0
dtype: int64

In [12]:
pincode_zone.shape

(124, 3)

SKU_Master

In [13]:
SKU_Master.isnull().sum() #checking null values

SKU           0
Weight (g)    0
dtype: int64

In [14]:
SKU_Master.duplicated().sum() #checking duplicates

1

In [15]:
SKU_Master.shape

(66, 2)

In [16]:
SKU_Master.drop_duplicates(inplace=True)

In [17]:
SKU_Master.duplicated().sum()

0

# Courier_company_invoice

In [18]:
Courier_company_invoice.isnull().sum()

AWB Code                0
Order ID                0
Charged Weight          0
Warehouse Pincode       0
Customer Pincode        0
Zone                    0
Type of Shipment        0
Billing Amount (Rs.)    0
dtype: int64

In [19]:
Courier_company_invoice.duplicated().sum()

0

In [20]:
Courier_company_invoice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AWB Code              124 non-null    int64
 1   Order ID              124 non-null    int64
 2   Charged Weight        124 non-null    float64
 3   Warehouse Pincode     124 non-null    int64
 4   Customer Pincode      124 non-null    int64
 5   Zone                  124 non-null    object
 6   Type of Shipment      124 non-null    object
 7   Billing Amount (Rs.)  124 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 7.9+ KB

# Courier_company_Rates

In [21]:
Courier_company_Rates.isnull().sum() #checking null values

fwd_a_fixed         0
fwd_a_additional    0
fwd_b_fixed         0
fwd_b_additional    0
fwd_c_fixed         0
fwd_c_additional    0
fwd_d_fixed         0
fwd_d_additional    0
fwd_e_fixed         0
fwd_e_additional    0
rto_a_fixed         0
rto_a_additional    0
rto_b_fixed         0
rto_b_additional    0
rto_c_fixed         0
rto_c_additional    0
rto_d_fixed         0
rto_d_additional    0
rto_e_fixed         0
rto_e_additional    0
dtype: int64

In [22]:
Courier_company_Rates.duplicated() #checking duplicates

0    False
dtype: bool

In [23]:
Courier_company_Rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fwd_a_fixed       1 non-null      float64
 1   fwd_a_additional  1 non-null      float64
 2   fwd_b_fixed       1 non-null      int64
 3   fwd_b_additional  1 non-null      float64
 4   fwd_c_fixed       1 non-null      float64
 5   fwd_c_additional  1 non-null      float64
 6   fwd_d_fixed       1 non-null      float64
 7   fwd_d_additional  1 non-null      float64
 8   fwd_e_fixed       1 non-null      float64
 9   fwd_e_additional  1 non-null      float64
 10  rto_a_fixed       1 non-null      float64
 11  rto_a_additional  1 non-null      float64
 12  rto_b_fixed       1 non-null      float64
 13  rto_b_additional  1 non-null      float64
 14  rto_c_fixed       1 non-null      float64
 15  rto_c_additional  1 non-null      float64
 16  rto_d_fixed       1 non-null      float64
 17  rto_d_additional  1 non-null      float64
 18  rto_e_fixed       1 non-null      float64
 19  rto_e_additional  1 non-null      float64
dtypes: float64(19), int64(1)
memory usage: 288.0 bytes

In [24]:
#Merging two data set to get insights in SKU & order ID

df1=pd.merge(order_report, SKU_Master, on='SKU')

In [25]:
df1

       Order ID            SKU  Order Qty  Weight (g)
0    2001827036  8904223818706        1.0         127
1    2001821995  8904223818706        1.0         127
2    2001819252  8904223818706        1.0         127
3    2001816996  8904223818706        1.0         127
4    2001814580  8904223818706        1.0         127
..          ...            ...        ...         ...
393  2001806616  8904223819123        1.0         250
394  2001806567  8904223815804        1.0         160
395  2001806567  8904223818577        1.0         150
396  2001806408  8904223819437        2.0         552
397  2001806232  8904223818645        6.0         137

[398 rows x 4 columns]

In [26]:
#merging with company invoice

df2=pd.merge(df1, Courier_company_invoice, on='Order ID')

In [27]:
df2

,Order ID,SKU,Order Qty,Weight (g),AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,2001827036,8904223818706,1.0,127,1091122418320,1.60,121003,173213,b,Forward charges,117.9
1,2001827036,8904223819093,1.0,150,1091122418320,1.60,121003,173213,b,Forward charges,117.9
2,2001827036,8904223819109,1.0,100,1091122418320,1.60,121003,173213,b,Forward charges,117.9
3,2001827036,8904223818430,1.0,165,1091122418320,1.60,121003,173213,b,Forward charges,117.9
4,2001827036,8904223819277,1.0,350,1091122418320,1.60,121003,173213,b,Forward charges,117.9
...,...,...,...,...,...,...,...,...,...,...,...
393,2001806251,8904223819161,1.0,115,1091117222146,1.27,121003,743263,d,Forward charges,135.0
394,2001806251,8904223819260,1.0,130,1091117222146,1.27,121003,743263,d,Forward charges,135.0
395,2001806233,8904223819161,1.0,115,1091117222135,0.78,121003,263139,b,Forward charges,61.3
396,2001806233,8904223819260,1.0,130,1091117222135,0.78,121003,263139,b,Forward charges,61.3
397,2001807328,8904223818997,1.0,490,1091117324346,2.28,121003,335502,d,Forward charges,224.6

In [28]:
#SKU not necessary for futher analysis
df3 = df1.drop("SKU", axis=1)

In [29]:
df3

       Order ID  Order Qty  Weight (g)
0    2001827036        1.0         127
1    2001821995        1.0         127
2    2001819252        1.0         127
3    2001816996        1.0         127
4    2001814580        1.0         127
..          ...        ...         ...
393  2001806616        1.0         250
394  2001806567        1.0         160
395  2001806567        1.0         150
396  2001806408        2.0         552
397  2001806232        6.0         137

[398 rows x 3 columns]

In [30]:
#Mulitiplying by quantity and conerting into grams
df3['Total weight as per X (KG)']=(df3['Order Qty']*df3['Weight (g)'])/1000

In [31]:
df3

       Order ID  Order Qty  Weight (g)  Total weight as per X (KG)
0    2001827036        1.0         127                       0.127
1    2001821995        1.0         127                       0.127
2    2001819252        1.0         127                       0.127
3    2001816996        1.0         127                       0.127
4    2001814580        1.0         127                       0.127
..          ...        ...         ...                         ...
393  2001806616        1.0         250                       0.250
394  2001806567        1.0         160                       0.160
395  2001806567        1.0         150                       0.150
396  2001806408        2.0         552                       1.104
397  2001806232        6.0         137                       0.822

[398 rows x 4 columns]

In [32]:
#Grouping by order id and sum of total kgs for similar order id

df4 = df3.groupby('Order ID')['Total weight as per X (KG)'].sum().reset_index()
df4

       Order ID  Total weight as per X (KG)
0    2001806210                       0.220
1    2001806226                       0.480
2    2001806229                       0.500
3    2001806232                       1.302
4    2001806233                       0.245
..          ...                         ...
119  2001821995                       0.477
120  2001822466                       1.376
121  2001823564                       0.672
122  2001825261                       1.557
123  2001827036                       1.676

[124 rows x 2 columns]

In [33]:
#merging these order and weight data to company invoice 

final=pd.merge(df4, Courier_company_invoice, on='Order ID')
final

,Order ID,Total weight as per X (KG),AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,2001806210,0.220,1091117221940,2.92,121003,140604,b,Forward charges,174.5
1,2001806226,0.480,1091117222065,0.68,121003,723146,d,Forward charges,90.2
2,2001806229,0.500,1091117222080,0.71,121003,421204,d,Forward charges,90.2
3,2001806232,1.302,1091117222124,1.30,121003,507101,d,Forward charges,135.0
4,2001806233,0.245,1091117222135,0.78,121003,263139,b,Forward charges,61.3
...,...,...,...,...,...,...,...,...,...
119,2001821995,0.477,1091121183730,0.50,121003,342008,d,Forward charges,45.4
120,2001822466,1.376,1091121305541,1.10,121003,342301,d,Forward charges,135.0
121,2001823564,0.672,1091121666133,0.70,121003,492001,d,Forward and RTO charges,172.8
122,2001825261,1.557,1091121981575,1.60,121003,517128,d,Forward and RTO charges,345.0
123,2001827036,1.676,1091122418320,1.60,121003,173213,b,Forward charges,117.9

In [34]:
final['Total weight as per X (KG)'].unique() #these are unique weights we need to convert to slab nearby values

array([0.22 , 0.48 , 0.5  , 1.302, 0.245, 0.615, 2.265, 0.7  , 1.621,
       0.127, 0.952, 0.963, 0.24 , 0.967, 0.84 , 0.611, 0.361, 0.42 ,
       1.459, 1.168, 0.607, 0.49 , 2.016, 1.048, 0.83 , 1.08 , 0.93 ,
       0.765, 0.721, 1.157, 0.343, 0.601, 0.734, 1.183, 0.731, 0.6  ,
       1.505, 1.517, 3.08 , 0.63 , 0.986, 0.488, 1.032, 0.505, 0.75 ,
       0.945, 0.689, 0.563, 0.558, 2.572, 0.72 , 0.554, 0.92 , 1.357,
       0.841, 0.27 , 0.065, 0.515, 2.098, 1.2  , 0.177, 0.165, 0.755,
       0.477, 1.376, 0.672, 1.557, 1.676])

In [35]:
#function to covert weights as per requirement

def round(x):
    if x < 0.500 :
        return '0.5'
    elif x<1 and x>0.5:
        return '1'
    elif x<1.500 and x>1:
        return '1.5'
    elif x<2 and x>1.500:
        return '2'
    elif x<2.500 and x>2:
        return '2.5'
    elif x<3 and x>2.500:
        return '3'
    elif x<3.500 and x>3:
        return '3.5'
    elif x<4 and x>3.500:
        return '4'
    elif x<4.5 and x>4:
        return '4.5'
    else:
        return x

In [36]:
#applying functiont to our feature for next process      
final['Weight slab as per X (KG)']=final['Total weight as per X (KG)'].apply(lambda x:round(x))
final['Weight slab as per X (KG)'].unique()

array(['0.5', 0.5, '1.5', '1', '2.5', '2', '3.5', '3'], dtype=object)

In [37]:
final['Weight slab as per X (KG)']=final['Weight slab as per X (KG)'].astype('float')#converting it data types to float

In [38]:
final['Weight slab as per X (KG)'].unique()

array([0.5, 1.5, 1. , 2.5, 2. , 3.5, 3. ])

In [39]:
#we can observe all values now changed to our requirements

In [40]:
final['Charged Weight'].unique() #Courier company rate and we also need to conver this by applying in our function

array([2.92, 0.68, 0.71, 1.3 , 0.78, 1.27, 1.  , 0.7 , 2.5 , 0.69, 1.7 ,
       1.16, 1.08, 0.15, 1.13, 1.02, 2.86, 1.35, 0.59, 1.64, 1.15, 0.67,
       0.5 , 0.79, 2.28, 0.73, 2.  , 1.04, 0.74, 0.72, 4.13, 1.28, 0.77,
       0.2 , 0.86, 1.2 , 1.63, 0.8 , 2.47, 1.5 , 3.  , 0.6 , 0.82, 0.76,
       0.66, 1.86, 2.27, 1.1 , 0.61, 2.94, 0.99, 0.3 , 2.1 , 1.6 ])

In [41]:
final['Weight slab charged by Courier Company (KG)']=final['Charged Weight'].apply(lambda x:round(x)) #code to make values according to weight slab charged by courier company

In [42]:
final['Weight slab charged by Courier Company (KG)']=final['Weight slab charged by Courier Company (KG)'].astype('float') #converting it data types to float

In [43]:

final['Weight slab charged by Courier Company (KG)'].unique() #checking unique values

array([3. , 1. , 1.5, 2.5, 2. , 0.5, 4.5])

In [44]:
#we will merge pincode to our final dataset

final1=pd.merge(pincode_zone,final,on='Customer Pincode')
final1

,Warehouse Pincode_x,Customer Pincode,Zone_x,Order ID,Total weight as per X (KG),AWB Code,Charged Weight,Warehouse Pincode_y,Zone_y,Type of Shipment,Billing Amount (Rs.),Weight slab as per X (KG),Weight slab charged by Courier Company (KG)
0,121003,507101,d,2001806232,1.302,1091117222124,1.30,121003,d,Forward charges,135.0,1.5,1.5
1,121003,486886,d,2001806273,0.615,1091117222194,1.00,121003,d,Forward charges,90.2,1.0,1.0
2,121003,532484,d,2001806408,2.265,1091117222931,2.50,121003,d,Forward charges,224.6,2.5,2.5
3,121003,143001,b,2001806458,0.700,1091117223244,1.00,121003,b,Forward charges,61.3,1.0,1.0
4,121003,515591,d,2001807012,0.240,1091117229345,0.15,121003,d,Forward charges,45.4,0.5,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,121003,302020,b,2001811039,0.488,1091117904860,0.68,121003,d,Forward charges,90.2,0.5,1.0
170,121003,302020,b,2001811305,0.750,1091121846136,0.50,121003,d,Forward charges,45.4,1.0,0.5
171,121003,325207,b,2001812941,0.500,1091118551656,0.73,121003,d,Forward charges,90.2,0.5,1.0
172,121003,303702,b,2001809383,0.607,1091117614452,0.50,121003,d,Forward and RTO charges,86.7,1.0,0.5
173,121003,313301,b,2001820978,0.515,1091120922803,0.50,121003,d,Forward charges,45.4,1.0,0.5

In [45]:
final1.duplicated().sum() #checking duplicates

50

In [46]:
final1.drop_duplicates(inplace=True)

In [47]:
final1.duplicated().sum()

0

In [48]:
final1

,Warehouse Pincode_x,Customer Pincode,Zone_x,Order ID,Total weight as per X (KG),AWB Code,Charged Weight,Warehouse Pincode_y,Zone_y,Type of Shipment,Billing Amount (Rs.),Weight slab as per X (KG),Weight slab charged by Courier Company (KG)
0,121003,507101,d,2001806232,1.302,1091117222124,1.30,121003,d,Forward charges,135.0,1.5,1.5
1,121003,486886,d,2001806273,0.615,1091117222194,1.00,121003,d,Forward charges,90.2,1.0,1.0
2,121003,532484,d,2001806408,2.265,1091117222931,2.50,121003,d,Forward charges,224.6,2.5,2.5
3,121003,143001,b,2001806458,0.700,1091117223244,1.00,121003,b,Forward charges,61.3,1.0,1.0
4,121003,515591,d,2001807012,0.240,1091117229345,0.15,121003,d,Forward charges,45.4,0.5,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,121003,302020,b,2001811039,0.488,1091117904860,0.68,121003,d,Forward charges,90.2,0.5,1.0
168,121003,302020,b,2001811305,0.750,1091121846136,0.50,121003,d,Forward charges,45.4,1.0,0.5
171,121003,325207,b,2001812941,0.500,1091118551656,0.73,121003,d,Forward charges,90.2,0.5,1.0
172,121003,303702,b,2001809383,0.607,1091117614452,0.50,121003,d,Forward and RTO charges,86.7,1.0,0.5
173,121003,313301,b,2001820978,0.515,1091120922803,0.50,121003,d,Forward charges,45.4,1.0,0.5

In [49]:
#we will check whether company x zone and courier company zone are same accross every row

for index, row in final1.iterrows():
    if row['Zone_x'] == row['Zone_y']:
        print(f"Values in Zone_x and Zone_y are the same in row {index}")
    else:
        print(f"Values in Zone_x and Zone_y are different in row {index}")

Values in Zone_x and Zone_y are the same in row 0
Values in Zone_x and Zone_y are the same in row 1
Values in Zone_x and Zone_y are the same in row 2
Values in Zone_x and Zone_y are the same in row 3
Values in Zone_x and Zone_y are the same in row 4
Values in Zone_x and Zone_y are the same in row 5
Values in Zone_x and Zone_y are the same in row 6
Values in Zone_x and Zone_y are the same in row 7
Values in Zone_x and Zone_y are the same in row 8
Values in Zone_x and Zone_y are the same in row 11
Values in Zone_x and Zone_y are the same in row 12
Values in Zone_x and Zone_y are the same in row 13
Values in Zone_x and Zone_y are the same in row 14
Values in Zone_x and Zone_y are the same in row 15
Values in Zone_x and Zone_y are the same in row 16
Values in Zone_x and Zone_y are the same in row 17
Values in Zone_x and Zone_y are the same in row 18
Values in Zone_x and Zone_y are the same in row 19
Values in Zone_x and Zone_y are the same in row 20
Values in Zone_x and Zone_y are the same in row 21
Values in Zone_x and Zone_y are the same in row 22
Values in Zone_x and Zone_y are the same in row 23
Values in Zone_x and Zone_y are the same in row 24
Values in Zone_x and Zone_y are the same in row 25
Values in Zone_x and Zone_y are the same in row 26
Values in Zone_x and Zone_y are the same in row 27
Values in Zone_x and Zone_y are the same in row 28
Values in Zone_x and Zone_y are the same in row 29
Values in Zone_x and Zone_y are the same in row 30
Values in Zone_x and Zone_y are the same in row 31
Values in Zone_x and Zone_y are the same in row 32
Values in Zone_x and Zone_y are the same in row 33
Values in Zone_x and Zone_y are the same in row 34
Values in Zone_x and Zone_y are the same in row 35
Values in Zone_x and Zone_y are the same in row 36
Values in Zone_x and Zone_y are the same in row 37
Values in Zone_x and Zone_y are the same in row 38
Values in Zone_x and Zone_y are the same in row 39
Values in Zone_x and Zone_y are the same in row 40
Values in Zone_x and Zone_y are the same in row 41
Values in Zone_x and Zone_y are the same in row 42
Values in Zone_x and Zone_y are the same in row 43
Values in Zone_x and Zone_y are the same in row 44
Values in Zone_x and Zone_y are the same in row 45
Values in Zone_x and Zone_y are the same in row 46
Values in Zone_x and Zone_y are the same in row 49
Values in Zone_x and Zone_y are the same in row 50
Values in Zone_x and Zone_y are the same in row 51
Values in Zone_x and Zone_y are the same in row 52
Values in Zone_x and Zone_y are the same in row 53
Values in Zone_x and Zone_y are the same in row 54
Values in Zone_x and Zone_y are the same in row 55
Values in Zone_x and Zone_y are the same in row 56
Values in Zone_x and Zone_y are the same in row 57
Values in Zone_x and Zone_y are the same in row 58
Values in Zone_x and Zone_y are the same in row 59
Values in Zone_x and Zone_y are the same in row 60
Values in Zone_x and Zone_y are the same in row 61
Values in Zone_x and Zone_y are the same in row 62
Values in Zone_x and Zone_y are different in row 63
Values in Zone_x and Zone_y are different in row 64
Values in Zone_x and Zone_y are different in row 65
Values in Zone_x and Zone_y are different in row 66
Values in Zone_x and Zone_y are different in row 67
Values in Zone_x and Zone_y are different in row 70
Values in Zone_x and Zone_y are different in row 71
Values in Zone_x and Zone_y are different in row 74
Values in Zone_x and Zone_y are different in row 75
Values in Zone_x and Zone_y are different in row 76
Values in Zone_x and Zone_y are different in row 77
Values in Zone_x and Zone_y are different in row 78
Values in Zone_x and Zone_y are different in row 79
Values in Zone_x and Zone_y are different in row 82
Values in Zone_x and Zone_y are different in row 83
Values in Zone_x and Zone_y are different in row 84
Values in Zone_x and Zone_y are different in row 85
Values in Zone_x and Zone_y are different in row 86
Values in Zone_x and Zone_y are different in row 87
Values in Zone_x and Zone_y are different in row 100
Values in Zone_x and Zone_y are different in row 101
Values in Zone_x and Zone_y are different in row 102
Values in Zone_x and Zone_y are different in row 103
Values in Zone_x and Zone_y are different in row 104
Values in Zone_x and Zone_y are different in row 105
Values in Zone_x and Zone_y are different in row 126
Values in Zone_x and Zone_y are different in row 127
Values in Zone_x and Zone_y are different in row 128
Values in Zone_x and Zone_y are different in row 129
Values in Zone_x and Zone_y are different in row 130
Values in Zone_x and Zone_y are different in row 131
Values in Zone_x and Zone_y are different in row 132
Values in Zone_x and Zone_y are different in row 133
Values in Zone_x and Zone_y are different in row 134
Values in Zone_x and Zone_y are different in row 135
Values in Zone_x and Zone_y are different in row 138
Values in Zone_x and Zone_y are different in row 139
Values in Zone_x and Zone_y are different in row 140
Values in Zone_x and Zone_y are different in row 141
Values in Zone_x and Zone_y are different in row 142
Values in Zone_x and Zone_y are different in row 143
Values in Zone_x and Zone_y are different in row 144
Values in Zone_x and Zone_y are different in row 145
Values in Zone_x and Zone_y are different in row 146
Values in Zone_x and Zone_y are different in row 147
Values in Zone_x and Zone_y are different in row 148
Values in Zone_x and Zone_y are different in row 149
Values in Zone_x and Zone_y are different in row 150
Values in Zone_x and Zone_y are different in row 151
Values in Zone_x and Zone_y are different in row 152
Values in Zone_x and Zone_y are different in row 153
Values in Zone_x and Zone_y are different in row 154
Values in Zone_x and Zone_y are different in row 155
Values in Zone_x and Zone_y are different in row 158
Values in Zone_x and Zone_y are different in row 159
Values in Zone_x and Zone_y are different in row 160
Values in Zone_x and Zone_y are different in row 161
Values in Zone_x and Zone_y are different in row 162
Values in Zone_x and Zone_y are different in row 163
Values in Zone_x and Zone_y are different in row 166
Values in Zone_x and Zone_y are different in row 167
Values in Zone_x and Zone_y are different in row 168
Values in Zone_x and Zone_y are different in row 171
Values in Zone_x and Zone_y are different in row 172
Values in Zone_x and Zone_y are different in row 173

In [50]:
df_equal = final1[final1['Zone_x'] == final1['Zone_y']]  #zone which we are same
df_not_equal = final1[final1['Zone_x'] != final1['Zone_y']] #zone which afre different

In [51]:
#These are the details of zone difference charged by company x and courier company
df_not_equal=pd.DataFrame(df_not_equal)
df_not_equal

,Warehouse Pincode_x,Customer Pincode,Zone_x,Order ID,Total weight as per X (KG),AWB Code,Charged Weight,Warehouse Pincode_y,Zone_y,Type of Shipment,Billing Amount (Rs.),Weight slab as per X (KG),Weight slab charged by Courier Company (KG)
63,121003,313027,b,2001806471,1.621,1091117223351,1.70,121003,d,Forward charges,179.8,2.0,2.0
64,121003,341001,b,2001807241,0.607,1091117324011,0.79,121003,d,Forward charges,90.2,1.0,1.0
65,121003,332715,b,2001807981,0.500,1091117327570,0.50,121003,d,Forward charges,45.4,0.5,0.5
66,121003,302031,b,2001808286,0.601,1091117435602,0.77,121003,d,Forward charges,90.2,1.0,1.0
67,121003,302031,b,2001808837,0.500,1091117437890,0.67,121003,d,Forward charges,90.2,0.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,121003,302020,b,2001811039,0.488,1091117904860,0.68,121003,d,Forward charges,90.2,0.5,1.0
168,121003,302020,b,2001811305,0.750,1091121846136,0.50,121003,d,Forward charges,45.4,1.0,0.5
171,121003,325207,b,2001812941,0.500,1091118551656,0.73,121003,d,Forward charges,90.2,0.5,1.0
172,121003,303702,b,2001809383,0.607,1091117614452,0.50,121003,d,Forward and RTO charges,86.7,1.0,0.5
173,121003,313301,b,2001820978,0.515,1091120922803,0.50,121003,d,Forward charges,45.4,1.0,0.5

In [52]:
#  we will change column name as per our expected expected output column name 

final2=final1.rename(columns={'Zone_y':'Delivery Zone charged by Courier Company','Zone_x':'Delivery Zone as per X','Charged Weight':'Total weight as per Courier Company (KG)','Billing Amount (Rs.)':'Charges Billed by Courier Company (Rs.)'})

In [53]:
# Changing to upper case as per our expected output columns
final2['Delivery Zone charged by Courier Company']=final2['Delivery Zone charged by Courier Company'].str.upper()
final2['Delivery Zone as per X']=final2['Delivery Zone as per X'].str.upper()

In [54]:
final2.head()

,Warehouse Pincode_x,Customer Pincode,Delivery Zone as per X,Order ID,Total weight as per X (KG),AWB Code,Total weight as per Courier Company (KG),Warehouse Pincode_y,Delivery Zone charged by Courier Company,Type of Shipment,Charges Billed by Courier Company (Rs.),Weight slab as per X (KG),Weight slab charged by Courier Company (KG)
0,121003,507101,D,2001806232,1.302,1091117222124,1.30,121003,D,Forward charges,135.0,1.5,1.5
1,121003,486886,D,2001806273,0.615,1091117222194,1.00,121003,D,Forward charges,90.2,1.0,1.0
2,121003,532484,D,2001806408,2.265,1091117222931,2.50,121003,D,Forward charges,224.6,2.5,2.5
3,121003,143001,B,2001806458,0.700,1091117223244,1.00,121003,B,Forward charges,61.3,1.0,1.0
4,121003,515591,D,2001807012,0.240,1091117229345,0.15,121003,D,Forward charges,45.4,0.5,0.5

In [55]:
#changing column names as per our expected output
final3 = final2.reindex(columns=['Order ID', 'AWB Code', 'Total weight as per X (KG)','Weight slab as per X (KG)','Weight slab as per X (KG)','Weight slab charged by Courier Company (KG)','Delivery Zone as per X','Delivery Zone charged by Courier Company','Charges Billed by Courier Company (Rs.)'])

In [56]:
final3.head()

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Weight slab as per X (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.)
0,2001806232,1091117222124,1.302,1.5,1.5,1.5,D,D,135.0
1,2001806273,1091117222194,0.615,1.0,1.0,1.0,D,D,90.2
2,2001806408,1091117222931,2.265,2.5,2.5,2.5,D,D,224.6
3,2001806458,1091117223244,0.700,1.0,1.0,1.0,B,B,61.3
4,2001807012,1091117229345,0.240,0.5,0.5,0.5,D,D,45.4

In [57]:
#changing to float
final2['x_zone_rate'] = final2['Delivery Zone as per X'].replace({'D': 45.4, 'B': 33, 'E': 56.6}).astype('float')

In [58]:
cost=final2.drop(columns=['Warehouse Pincode_x','Customer Pincode','Warehouse Pincode_y'])

In [59]:
cost

,Delivery Zone as per X,Order ID,Total weight as per X (KG),AWB Code,Total weight as per Courier Company (KG),Delivery Zone charged by Courier Company,Type of Shipment,Charges Billed by Courier Company (Rs.),Weight slab as per X (KG),Weight slab charged by Courier Company (KG),x_zone_rate
0,D,2001806232,1.302,1091117222124,1.30,D,Forward charges,135.0,1.5,1.5,45.4
1,D,2001806273,0.615,1091117222194,1.00,D,Forward charges,90.2,1.0,1.0,45.4
2,D,2001806408,2.265,1091117222931,2.50,D,Forward charges,224.6,2.5,2.5,45.4
3,B,2001806458,0.700,1091117223244,1.00,B,Forward charges,61.3,1.0,1.0,33.0
4,D,2001807012,0.240,1091117229345,0.15,D,Forward charges,45.4,0.5,0.5,45.4
...,...,...,...,...,...,...,...,...,...,...,...
167,B,2001811039,0.488,1091117904860,0.68,D,Forward charges,90.2,0.5,1.0,33.0
168,B,2001811305,0.750,1091121846136,0.50,D,Forward charges,45.4,1.0,0.5,33.0
171,B,2001812941,0.500,1091118551656,0.73,D,Forward charges,90.2,0.5,1.0,33.0
172,B,2001809383,0.607,1091117614452,0.50,D,Forward and RTO charges,86.7,1.0,0.5,33.0
173,B,2001820978,0.515,1091120922803,0.50,D,Forward charges,45.4,1.0,0.5,33.0

# Now we can see about fixed cost , additional cost , return cost , additional retirn cost

In [60]:
#we are adding additional 
# cost['x_zone_rate_additional']=((cost['Weight slab as per X (KG)']/0.5))*cost['x_zone_rate']

In [61]:
cost['Type of Shipment and zone']=cost['Delivery Zone as per X']+cost['Type of Shipment']

In [62]:
cost

,Delivery Zone as per X,Order ID,Total weight as per X (KG),AWB Code,Total weight as per Courier Company (KG),Delivery Zone charged by Courier Company,Type of Shipment,Charges Billed by Courier Company (Rs.),Weight slab as per X (KG),Weight slab charged by Courier Company (KG),x_zone_rate,Type of Shipment and zone
0,D,2001806232,1.302,1091117222124,1.30,D,Forward charges,135.0,1.5,1.5,45.4,DForward charges
1,D,2001806273,0.615,1091117222194,1.00,D,Forward charges,90.2,1.0,1.0,45.4,DForward charges
2,D,2001806408,2.265,1091117222931,2.50,D,Forward charges,224.6,2.5,2.5,45.4,DForward charges
3,B,2001806458,0.700,1091117223244,1.00,B,Forward charges,61.3,1.0,1.0,33.0,BForward charges
4,D,2001807012,0.240,1091117229345,0.15,D,Forward charges,45.4,0.5,0.5,45.4,DForward charges
...,...,...,...,...,...,...,...,...,...,...,...,...
167,B,2001811039,0.488,1091117904860,0.68,D,Forward charges,90.2,0.5,1.0,33.0,BForward charges
168,B,2001811305,0.750,1091121846136,0.50,D,Forward charges,45.4,1.0,0.5,33.0,BForward charges
171,B,2001812941,0.500,1091118551656,0.73,D,Forward charges,90.2,0.5,1.0,33.0,BForward charges
172,B,2001809383,0.607,1091117614452,0.50,D,Forward and RTO charges,86.7,1.0,0.5,33.0,BForward and RTO charges
173,B,2001820978,0.515,1091120922803,0.50,D,Forward charges,45.4,1.0,0.5,33.0,BForward charges

In [63]:
a=cost[cost['Type of Shipment and zone']=='DForward charges'] #temprorary to check and add additional amounts for 0.5kg

In [64]:
a['Weight slab as per X (KG)'].unique() #checking unique values to add additional charges

array([1.5, 1. , 2.5, 0.5, 2. , 3.5])

In [65]:
#Adding in out cost additional o.5kg for zone D , additional forward charges
cost.loc[(cost['Type of Shipment and zone'] == 'DForward charges') & (cost['Weight slab as per X (KG)']==1.0), 'x_zone_rate'] +=44.8
cost.loc[(cost['Type of Shipment and zone'] == 'DForward charges') & (cost['Weight slab as per X (KG)']==2.0), 'x_zone_rate'] +=134.4
cost.loc[(cost['Type of Shipment and zone'] == 'DForward charges') & (cost['Weight slab as per X (KG)']==1.5), 'x_zone_rate'] +=89.6

In [66]:
b=cost[cost['Type of Shipment and zone']=='BForward charges']#temprorary to check and add additional amounts for 0.5kg

In [67]:
b['Weight slab as per X (KG)'].unique() #checking unique values to add additional charges

array([1. , 0.5, 1.5, 2. , 3. , 2.5])

In [68]:
#Adding in out cost additional o.5kg for zone B , additional forward charges
cost.loc[(cost['Type of Shipment and zone'] == 'BForward charges') & (cost['Weight slab as per X (KG)']==1.5), 'x_zone_rate'] +=56.6
cost.loc[(cost['Type of Shipment and zone'] == 'BForward charges') & (cost['Weight slab as per X (KG)']==1.0), 'x_zone_rate'] +=28.3
cost.loc[(cost['Type of Shipment and zone'] == 'BForward charges') & (cost['Weight slab as per X (KG)']==2.0), 'x_zone_rate'] +=84.9
cost.loc[(cost['Type of Shipment and zone'] == 'BForward charges') & (cost['Weight slab as per X (KG)']==3.0), 'x_zone_rate'] +=141.5
cost.loc[(cost['Type of Shipment and zone'] == 'BForward charges') & (cost['Weight slab as per X (KG)']==2.5), 'x_zone_rate'] +=113.2

In [69]:
c=cost[cost['Type of Shipment and zone']=='EForward charges']#temprorary to check and add additional amounts for 0.5kg

In [70]:
c['Weight slab as per X (KG)'].unique() #checking unique values to add additional charges

array([1. , 0.5, 2. ])

In [71]:
#Adding in out cost additional o.5kg for zone E , additional forward charges
cost.loc[(cost['Type of Shipment and zone'] == 'EForward and RTO charges') & (cost['Weight slab as per X (KG)']==2.0), 'x_zone_rate'] +=166.5
cost.loc[(cost['Type of Shipment and zone'] == 'EForward and RTO charges') & (cost['Weight slab as per X (KG)']==1.0), 'x_zone_rate'] +=55.5

In [72]:
cost

,Delivery Zone as per X,Order ID,Total weight as per X (KG),AWB Code,Total weight as per Courier Company (KG),Delivery Zone charged by Courier Company,Type of Shipment,Charges Billed by Courier Company (Rs.),Weight slab as per X (KG),Weight slab charged by Courier Company (KG),x_zone_rate,Type of Shipment and zone
0,D,2001806232,1.302,1091117222124,1.30,D,Forward charges,135.0,1.5,1.5,135.0,DForward charges
1,D,2001806273,0.615,1091117222194,1.00,D,Forward charges,90.2,1.0,1.0,90.2,DForward charges
2,D,2001806408,2.265,1091117222931,2.50,D,Forward charges,224.6,2.5,2.5,45.4,DForward charges
3,B,2001806458,0.700,1091117223244,1.00,B,Forward charges,61.3,1.0,1.0,61.3,BForward charges
4,D,2001807012,0.240,1091117229345,0.15,D,Forward charges,45.4,0.5,0.5,45.4,DForward charges
...,...,...,...,...,...,...,...,...,...,...,...,...
167,B,2001811039,0.488,1091117904860,0.68,D,Forward charges,90.2,0.5,1.0,33.0,BForward charges
168,B,2001811305,0.750,1091121846136,0.50,D,Forward charges,45.4,1.0,0.5,61.3,BForward charges
171,B,2001812941,0.500,1091118551656,0.73,D,Forward charges,90.2,0.5,1.0,33.0,BForward charges
172,B,2001809383,0.607,1091117614452,0.50,D,Forward and RTO charges,86.7,1.0,0.5,33.0,BForward and RTO charges
173,B,2001820978,0.515,1091120922803,0.50,D,Forward charges,45.4,1.0,0.5,61.3,BForward charges

In [73]:
#Adding cost for RTO for zone B
cost.loc[(cost['Delivery Zone as per X'] == 'B') & (cost['Type of Shipment and zone']=='BForward and RTO charges'), 'x_zone_rate'] +=20.5

In [74]:
#Adding cost for RTO for zone D 
cost.loc[(cost['Delivery Zone as per X'] == 'D') & (cost['Type of Shipment and zone']=='DForward and RTO charges'), 'x_zone_rate'] +=41.3

In [75]:
#Adding cost for RTO for zone E
cost.loc[(cost['Delivery Zone as per X'] == 'E') & (cost['Type of Shipment and zone']=='EForward and RTO charges'), 'x_zone_rate'] +=50.7

In [76]:
f=cost[cost['Type of Shipment and zone']=='EForward and RTO charges']#temprorary to check and add additional amounts for 0.5kg
f['Weight slab as per X (KG)'].unique()

array([0.5, 1. ])

In [77]:
#Adding cost for RTO for zone E, additional 0.5kg 
cost.loc[(cost['Type of Shipment and zone'] == 'EForward and RTO charges') & (cost['Weight slab as per X (KG)']==1.0), 'x_zone_rate'] +=55.5

In [78]:
e=cost[cost['Type of Shipment and zone']=='DForward and RTO charges']#temprorary to check and add additional amounts for 0.5kg
e['Weight slab as per X (KG)'].unique()

array([1. , 1.5, 2. ])

In [79]:
#Adding cost for RTO for zone D, additional 0.5kg 
cost.loc[(cost['Type of Shipment and zone'] == 'DForward and RTO charges') & (cost['Weight slab as per X (KG)']==1.0), 'x_zone_rate'] +=44.8
cost.loc[(cost['Type of Shipment and zone'] == 'DForward and RTO charges') & (cost['Weight slab as per X (KG)']==2.0), 'x_zone_rate'] +=134.4
cost.loc[(cost['Type of Shipment and zone'] == 'DForward and RTO charges') & (cost['Weight slab as per X (KG)']==1.5), 'x_zone_rate'] +=89.6

In [80]:
d=cost[cost['Type of Shipment and zone']=='BForward and RTO charges']#temprorary to check and add additional amounts for 0.5kg
d['Weight slab as per X (KG)'].unique()

array([1. , 1.5, 0.5])

In [81]:
#Adding cost for RTO for zone B, additional 0.5kg 
cost.loc[(cost['Type of Shipment and zone'] == 'BForward and RTO charges') & (cost['Weight slab as per X (KG)']==1.5), 'x_zone_rate'] +=56.6
cost.loc[(cost['Type of Shipment and zone'] == 'BForward and RTO charges') & (cost['Weight slab as per X (KG)']==1.0), 'x_zone_rate'] +=28.3

In [82]:
cost

,Delivery Zone as per X,Order ID,Total weight as per X (KG),AWB Code,Total weight as per Courier Company (KG),Delivery Zone charged by Courier Company,Type of Shipment,Charges Billed by Courier Company (Rs.),Weight slab as per X (KG),Weight slab charged by Courier Company (KG),x_zone_rate,Type of Shipment and zone
0,D,2001806232,1.302,1091117222124,1.30,D,Forward charges,135.0,1.5,1.5,135.0,DForward charges
1,D,2001806273,0.615,1091117222194,1.00,D,Forward charges,90.2,1.0,1.0,90.2,DForward charges
2,D,2001806408,2.265,1091117222931,2.50,D,Forward charges,224.6,2.5,2.5,45.4,DForward charges
3,B,2001806458,0.700,1091117223244,1.00,B,Forward charges,61.3,1.0,1.0,61.3,BForward charges
4,D,2001807012,0.240,1091117229345,0.15,D,Forward charges,45.4,0.5,0.5,45.4,DForward charges
...,...,...,...,...,...,...,...,...,...,...,...,...
167,B,2001811039,0.488,1091117904860,0.68,D,Forward charges,90.2,0.5,1.0,33.0,BForward charges
168,B,2001811305,0.750,1091121846136,0.50,D,Forward charges,45.4,1.0,0.5,61.3,BForward charges
171,B,2001812941,0.500,1091118551656,0.73,D,Forward charges,90.2,0.5,1.0,33.0,BForward charges
172,B,2001809383,0.607,1091117614452,0.50,D,Forward and RTO charges,86.7,1.0,0.5,81.8,BForward and RTO charges
173,B,2001820978,0.515,1091120922803,0.50,D,Forward charges,45.4,1.0,0.5,61.3,BForward charges

In [83]:
expected_result_calculation #this is our sample output

,Order ID,AWB Number,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001806232,1091117222124,1.30,1.5,1.30,1.5,D,D,135,135.0,0.0
1,2001806210,1091117221940,0.22,0.5,2.92,3.0,B,B,33,174.5,-141.5

In [84]:
expected_result_calculation_new=cost.rename(columns={'x_zone_rate':'Expected Charge as per X (Rs.)'}) #changing column name as per our sample output

In [85]:
#Rearranging required columns 
expected_result_calculation_final=pd.DataFrame(expected_result_calculation_new)
new_order = ['Order ID', 'AWB Code', 'Total weight as per X (KG)','Weight slab as per X (KG)','Total weight as per Courier Company (KG)','Weight slab charged by Courier Company (KG)','Delivery Zone as per X','Delivery Zone charged by Courier Company','Expected Charge as per X (Rs.)','Charges Billed by Courier Company (Rs.)']
expected_result_calculation_final = expected_result_calculation_final.reindex(columns=new_order)

In [86]:
expected_result_calculation_final

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.)
0,2001806232,1091117222124,1.302,1.5,1.30,1.5,D,D,135.0,135.0
1,2001806273,1091117222194,0.615,1.0,1.00,1.0,D,D,90.2,90.2
2,2001806408,1091117222931,2.265,2.5,2.50,2.5,D,D,45.4,224.6
3,2001806458,1091117223244,0.700,1.0,1.00,1.0,B,B,61.3,61.3
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,D,D,45.4,45.4
...,...,...,...,...,...,...,...,...,...,...
167,2001811039,1091117904860,0.488,0.5,0.68,1.0,B,D,33.0,90.2
168,2001811305,1091121846136,0.750,1.0,0.50,0.5,B,D,61.3,45.4
171,2001812941,1091118551656,0.500,0.5,0.73,1.0,B,D,33.0,90.2
172,2001809383,1091117614452,0.607,1.0,0.50,0.5,B,D,81.8,86.7
173,2001820978,1091120922803,0.515,1.0,0.50,0.5,B,D,61.3,45.4

In [87]:
#To find the difference
expected_result_calculation_final['Difference Between Expected Charges and Billed Charges (Rs.)']=expected_result_calculation_final['Expected Charge as per X (Rs.)']-expected_result_calculation_final['Charges Billed by Courier Company (Rs.)']

In [88]:
expected_result_calculation_final

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001806232,1091117222124,1.302,1.5,1.30,1.5,D,D,135.0,135.0,0.000000e+00
1,2001806273,1091117222194,0.615,1.0,1.00,1.0,D,D,90.2,90.2,-1.421085e-14
2,2001806408,1091117222931,2.265,2.5,2.50,2.5,D,D,45.4,224.6,-1.792000e+02
3,2001806458,1091117223244,0.700,1.0,1.00,1.0,B,B,61.3,61.3,0.000000e+00
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,D,D,45.4,45.4,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...
167,2001811039,1091117904860,0.488,0.5,0.68,1.0,B,D,33.0,90.2,-5.720000e+01
168,2001811305,1091121846136,0.750,1.0,0.50,0.5,B,D,61.3,45.4,1.590000e+01
171,2001812941,1091118551656,0.500,0.5,0.73,1.0,B,D,33.0,90.2,-5.720000e+01
172,2001809383,1091117614452,0.607,1.0,0.50,0.5,B,D,81.8,86.7,-4.900000e+00
173,2001820978,1091120922803,0.515,1.0,0.50,0.5,B,D,61.3,45.4,1.590000e+01

In [89]:
expected_result_calculation_final

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001806232,1091117222124,1.302,1.5,1.30,1.5,D,D,135.0,135.0,0.000000e+00
1,2001806273,1091117222194,0.615,1.0,1.00,1.0,D,D,90.2,90.2,-1.421085e-14
2,2001806408,1091117222931,2.265,2.5,2.50,2.5,D,D,45.4,224.6,-1.792000e+02
3,2001806458,1091117223244,0.700,1.0,1.00,1.0,B,B,61.3,61.3,0.000000e+00
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,D,D,45.4,45.4,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...
167,2001811039,1091117904860,0.488,0.5,0.68,1.0,B,D,33.0,90.2,-5.720000e+01
168,2001811305,1091121846136,0.750,1.0,0.50,0.5,B,D,61.3,45.4,1.590000e+01
171,2001812941,1091118551656,0.500,0.5,0.73,1.0,B,D,33.0,90.2,-5.720000e+01
172,2001809383,1091117614452,0.607,1.0,0.50,0.5,B,D,81.8,86.7,-4.900000e+00
173,2001820978,1091120922803,0.515,1.0,0.50,0.5,B,D,61.3,45.4,1.590000e+01

In [90]:
#changing to float number from scientific notation
expected_result_calculation_final['Difference Between Expected Charges and Billed Charges (Rs.)'] = expected_result_calculation_final['Difference Between Expected Charges and Billed Charges (Rs.)'].astype(float)

# Change the display format to show float values instead of scientific notation
pd.set_option('display.float_format', lambda x: '%.2f' % x)

expected_result_calculation_final

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001806232,1091117222124,1.30,1.50,1.30,1.50,D,D,135.00,135.00,0.00
1,2001806273,1091117222194,0.61,1.00,1.00,1.00,D,D,90.20,90.20,-0.00
2,2001806408,1091117222931,2.27,2.50,2.50,2.50,D,D,45.40,224.60,-179.20
3,2001806458,1091117223244,0.70,1.00,1.00,1.00,B,B,61.30,61.30,0.00
4,2001807012,1091117229345,0.24,0.50,0.15,0.50,D,D,45.40,45.40,0.00
...,...,...,...,...,...,...,...,...,...,...,...
167,2001811039,1091117904860,0.49,0.50,0.68,1.00,B,D,33.00,90.20,-57.20
168,2001811305,1091121846136,0.75,1.00,0.50,0.50,B,D,61.30,45.40,15.90
171,2001812941,1091118551656,0.50,0.50,0.73,1.00,B,D,33.00,90.20,-57.20
172,2001809383,1091117614452,0.61,1.00,0.50,0.50,B,D,81.80,86.70,-4.90
173,2001820978,1091120922803,0.52,1.00,0.50,0.50,B,D,61.30,45.40,15.90

In [91]:
expected_result_calculation_final.to_excel('expected_result_calculation_final.xlsx', index_label='Unnamed: 0')

# SUMMARY

In [92]:
expected_result_summary

                         Unnamed: 0  Count  Amount
0  Total Orders - Correctly Charged   1.00  135.00
1       Total Orders - Over Charged   1.00 -141.50
2      Total Orders - Under Charged    NaN     NaN

In [93]:
grouped = expected_result_calculation_final.groupby(expected_result_calculation_final['Difference Between Expected Charges and Billed Charges (Rs.)'].apply(lambda x: 'Total Orders - Correctly Charged' if x == 0 else 'Total Orders - Over Charged' if x < 0 else 'Total Orders - Under Charged'))

In [94]:
summary = pd.DataFrame({'Count': grouped.size(), 'Amount': grouped['Difference Between Expected Charges and Billed Charges (Rs.)'].sum()})

summary

                                                    Count   Amount
Difference Between Expected Charges and Billed ...
Total Orders - Correctly Charged                       14     0.00
Total Orders - Over Charged                           101 -5648.80
Total Orders - Under Charged                            9   185.20

In [95]:
summary.to_excel('summary.xlsx', index_label='Unnamed: 0')